@mixin textEllipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#chat-msg {
    position: relative;
    left: 400px;
    top: 0;
    width: 800px;
    height: 100%;
    border-radius: 0 10px 10px 0;
    border-left: 5px solid rgba(204, 204, 204, 0.966);
    background: #c6d7ea;

    .chat_msg_body {
        height: 448px;
        background: rgba(252, 252, 252, 1);
        padding: 10px;

        //对方消息样式
        .chat_msg_box_left {
            margin: 5px 0;

            .msg_from {
                // display: inline-block;
                font-size: 16px;
            }
            .msg_content {
                display: flex;
                flex-direction: row;
                align-items: center;
                min-width: 391px;
                p {
                    display: inline-block;
                    text-indent: .5em;
                    padding: 10px;
                    background: rgb(247, 242, 242);
                    border-radius: 10px;
                    font-size: 12px;
                }

                .img_Box {
                    // width: 325px;
                    // height: 250px;
                    border-radius: 10px;
                    margin-right: 440px;
                    padding: 3px;
                    // text-align: center;
                    // background: rgb(209, 241, 254);
                    // overflow: hidden;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                        height: auto;
                    }

                }

                .file_Box {
                    width: 200px;
                    height: 80px;
                    margin-right: 560px;
                    background: rgba(24, 135, 238, 0.356);
                    border-radius: 5px;
                    padding: 3px;
                    cursor: pointer;

                    .file_Box_hd {
                        width: 100%;
                        height: 35px;
                        display: flex;
                        flex-direction: row;
                        margin: 8px 0 8px 0;
                        border-bottom: 1px solid #fff;
                        color: rgb(8, 8, 8);

                        .file_name {
                            width: 160px;
                            height: 35px;
                            border-radius: 5px;
                            text-align: left;
                            line-height: 35px;
                            @include textEllipsis
                        }

                        .file_icon {
                            width: 40px;
                            height: 35px;
                            text-align: center;
                            line-height: 35px;

                            span {
                                font-size: 33px;
                            }
                        }

                    }

                    .file_size {
                        width: 80px;
                        font-size: 13px;
                        font-weight: 300;
                        text-align: left;
                        margin: 10px;
                        @include textEllipsis
                    }

                }
                .audio_Box {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    height: 30px;
                    border-radius: 3px;
                    border: 1px solid #0198D7;

                    .icon_img {
                        display: flex;
                        width: 35px;
                        height: 35px;
                        align-items: center;
                        justify-content: space-around;

                        img {
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
            }
            .msg_length {
                font-weight: 500;
                font-size: 7px;
                margin-left: 5px;
            }

            .msg_time {
                text-align: left;
                font-size: 10px;
                font-weight: 200;
            }
        }

        //我方消息样式
        .chat_msg_box_right {
            margin-right: 10px;

            .msg_from {
                text-align: right;
                font-size: 16px;
                @include textEllipsis
            }

            .msg_content {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                min-width: 391px;
                text-align: right;

                p {
                    display: inline-block;
                    text-indent: 1em;
                    padding: 10px;
                    background: rgb(209, 241, 254);
                    border-radius: 5px;
                    font-size: 16px;
                }

                .img_Box {
                    // width: 325px;
                    // height: 250px;
                    border-radius: 10px;
                    margin-left: 440px;
                    padding: 3px;
                    // text-align: center;
                    // background: rgb(209, 241, 254);
                    // overflow: hidden;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                        height: auto;
                    }
                }

                .file_Box {
                    width: 200px;
                    height: 80px;
                    margin-left: 560px;
                    background: rgba(24, 135, 238, 0.356);
                    border-radius: 5px;
                    padding: 3px;
                    cursor: pointer;

                    .file_Box_hd {
                        width: 100%;
                        height: 35px;
                        display: flex;
                        flex-direction: row;
                        margin: 8px 0 8px 0;
                        border-bottom: 1px solid #fff;
                        color: rgb(8, 8, 8);

                        .file_name {
                            width: 160px;
                            height: 35px;
                            border-radius: 5px;
                            text-align: left;
                            line-height: 35px;
                            @include textEllipsis
                        }

                        .file_icon {
                            width: 40px;
                            height: 35px;
                            text-align: center;
                            line-height: 35px;

                            span {
                                font-size: 33px;
                            }
                        }

                    }

                    .file_size {
                        width: 80px;
                        font-size: 13px;
                        font-weight: 300;
                        text-align: left;
                        margin: 10px;
                        @include textEllipsis
                    }

                }

                .audio_Box {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    height: 30px;
                    border-radius: 3px;
                    border: 1px solid black;

                    .icon_img {
                        display: flex;
                        width: 35px;
                        height: 35px;
                        align-items: center;
                        justify-content: space-around;

                        img {
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
            }

            .msg_length {
                font-weight: 500;
                font-size: 7px;
                margin-right: 5px;
            }

            .msg_time {
                text-align: right;
                font-size: 10px;
                font-weight: 200;
            }

        }
    }
}