.slide-fade-enter-active {
    // transition: all .3s ease;
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active 用于 2.1.8 以下版本 */ {
    transform: translateX(20px);
    opacity: 0;
  }
.drawer_box {
    position: absolute;
    right: 20px;
    top: 60px;
    width: 300px;
    padding: 10px 5px 10px 5px;
    border-radius: 5px;
    // height: 450px;
    background-color: #f3efef7e;
    filter: blur(.3px);
    z-index: 30;

    .singleChat_drawer {
        margin-top: 10px;
        width: 100%;
        border-radius: 3px;
        background: rgb(247, 245, 245);
        display: flex;
        flex-direction: column;
        align-items: center;

        // padding: 10px;
        .deleteFriend_btn,
        .addBlackFriend_btn {
            text-align: center;
            color: rgb(185, 39, 39);
            font-weight: 400;
            width: 100%;
            height: 50px;
            line-height: 50px;
            border-radius: 3px;
            cursor: pointer;

            // transition: all 1s;
            &:hover {
                background: #d6cacac4;
            }

            &:active {
                color: #FFF;
                background-color: rgba(0, 0, 0, 0.404);
            }
        }

        .addBlackFriend_btn {
            margin-top: 10px;
        }
    }

    .friendModal {
        position: absolute;
        left: -70%;
        top: 0;

        .text {
            font-weight: 500;
            font-size: 20px;
        }

        .yes_btn,
        .not_btn {
            width: 80px;
            height: 40px;
            border: none;
            border-radius: 3px;
            color: #FFF;
            transition: all .3s;
            cursor: pointer;
        }

        .yes_btn {
            background-color: #3293E9;
            &:hover {
                transform: scale(1.1);
            }
        }

        .not_btn {
            background-color: red;
            margin-right: 20px;
            &:hover {
                transform: scale(1.1);
            }

            &:active {
                color: #333;
                background-color: rgba(255, 0, 0, 0.336);
            }
        }
    }
}