@mixin textEllipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.groupChat_drawer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .group_Info,
    .groupMem_Info,
    .set_Btn,
    .group_set
     {
        border-radius: 10px;
        padding: 5px;
        // background: rgba(160, 156, 156, 0.466);
        background: rgba(247, 245, 245, 0.336);
    }

    .group_Info {
        height: 150px;

        .group_title {
            // display: flex;
            width: 100%;
            height: 25px;
            position: relative;
            // flex-direction: row;
            // justify-content: space-between;
            // align-items: center;
            

            .groupChangeInfo_btn {
                position: absolute;
                right: 20px;
                top: 1px;
                cursor: pointer;
                .amend{
                    // display: inline-block;
                    width: 15px;
                    height: 15px;
                    &:active{
                        background: rgba(219, 156, 38, 0.404);
                    }
                }
                .save{
                    width: 20px;
                    height: 20px;
                    &:active{
                        background: rgba(5, 128, 36, 0.404);
                    }
                }
                img {
                    transition: all .3s;
                    &:hover{
                        transform: scale(1.2);
                        box-shadow: 1px 1px 4px gray;
                        
                    }
                    
                }
                
            }
        }

        .group_main {
            margin-top: 10px;
            display: flex;
            flex-direction: column;

            .group_description {
                font-size: 13px;
                @include textEllipsis
            }

            .group_announcement {
                height: 65px;
                padding: 5px 5px;
                border-radius: 3px;
                font-size: 8px;
                background: rgba(0, 0, 0, 0.082);
            }
        }

    }

    .groupMem_Info {
        margin-top: 20px;
        height: 100px;
        

        .box_main {
            .list_data {
                height: 30px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;

                .groupMem_list_owner,
                .groupMem_list_member {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    span:nth-child(2) {
                        margin-bottom: 2px;
                    }
                }
                .groupMem_list_owner {
                    span:nth-child(1) {
                        color: #FFB540;
                        font-size: 20px;
                        font-weight: bold;
                        margin: 0 5px;
                    }
                }
                .groupMem_list_member {
                    span:nth-child(1) {
                        // color: #FFB540;
                        font-size: 20px;
                        font-weight: 500;
                        margin: 0 5px;

                    }
                }
                .groupMem_setBtn{
                    // height: 1em;
                    // margin-left: px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    // background: #000;
                    div{
                        width: 20px;
                        height: 20px;
                        margin: 0 5px;
                        // background: rgb(255, 6, 6);
                    }
                    .isAdmin{
                        background-size: contain;
                        background-image: url("../../../../assets/image/管理员认证.png");
                    }
                    .notAdmin{
                        background-size: 75% 75%;
                        background-image: url("../../../../assets/image/降级.png");
                        background-repeat: no-repeat;
                        background-position: 4px;
                    }
                    //禁言
                    .isMuteMem{
                        background-size: cover;
                        background-image: url("../../../../assets/image/禁言.png");
                    }
                    //解禁
                    .notMuteMem{
                        background-size: cover;
                        background-image: url("../../../../assets/image/解禁.png");
                    }
                    .delMem{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }
                    .delMem>span{
                        color: #2b2a2ac7;
                        font-size: 16px;
                    }
                    
                }
                &:hover {
                    background: rgba(160, 156, 156, 0.781);
                }
            }
        }
    }
    .set_Btn,.group_set{
        margin-top: 20px;
    }
    .set_Btn{
        margin-left: 120px;
        width: 30px;
        height: 30px;
        background: rgba(107, 105, 105, 0.466);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .5s ease-in-out;
        .icon-ziyuan156{
            font-size: 20px;
            
            &:hover{
                animation:rotate 8s linear;
                @keyframes rotate {
                    0%{
                        transform: rotateZ(0deg);
                    }
                    100%{
                        transform: rotateZ(360deg);
                    }
                }
                font-size: 25px;
                
                &:active{
                    color: indianred;
                }
            }
        }
    }
    .slide-fade-enter-active {
        // transition: all .3s ease;
        transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
      }
      .slide-fade-leave-active {
        transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
      }
      .slide-fade-enter, .slide-fade-leave-to
      /* .slide-fade-leave-active 用于 2.1.8 以下版本 */ {
        transform: translateX(20px);
        opacity: 0;
      }
    .group_set{
        min-height: 50px;
        display: flex;
        // flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        
        span{
            display: inline-block;
            width: 80px;
            height: 30px;
            transition: all .5s;
            &:hover{
                transform: scale(1.2,1.2);
                color: indianred;
            }
            &:active{
                color: #000;
            }
        }
        
    }
    .groupMadal {
        position: absolute;
        left: -100%;
        top: 10%;
        z-index: 999;
        .GroupText{
            .memId{
                margin-top: 10px;
                width: 100%;
                height: 30px;
                font-size: 16px;
            }
        }
        .yes_btn,
        .not_btn {
            width: 80px;
            height: 40px;
            border: none;
            border-radius: 3px;
            color: #FFF;
            transition: all .3s;
            cursor: pointer;
        }

        .yes_btn {
            background-color: #3293E9;
            &:hover {
                transform: scale(1.1);
            }
        }

        .not_btn {
            background-color: red;
            margin-right: 20px;
            &:hover {
                transform: scale(1.1);
            }

            &:active {
                color: #333;
                background-color: rgba(255, 0, 0, 0.336);
            }
        }
    }
}